package ${config.basePackage}.domain.value;

import com.changjinglu.domain.VO;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;
import java.util.Date;

/**
 * <p>
 * ${table.tableComment}
 * </p>
 *
 * @author ${config.author}
 * @since ${config.dateStr}
 */
@Data
@EqualsAndHashCode(callSuper = false)
@Accessors(chain = true)
public class ${table.entityClass}BuildVO implements VO {

    private static final long serialVersionUID = ${serialVersionUID}L;
    private Long id;

#foreach ( $column in $table.columns )
    /**
     * ${column.columnComment}
     */
    private ${column.javaDataType.getSimpleName()} ${column.fieldName};
#end
}
