package ${config.basePackage}.interfaces.repository;

import ${config.basePackage}.domain.entity.${table.entityClass}Entity;
import ${config.basePackage}.interfaces.query.${table.entityClass}RepositoryQuery;
import ${config.basePackage}.interfaces.vo.${table.entityClass}VO;
import ${config.basePackage}.interfaces.vo.PageVO;
import java.util.List;

/**
 * <p> ${table.entityClass}Repository </p>
 * <p> ${table.tableComment}仓储接口 </p>
 * @author ${config.author}
 * @since ${config.dateStr}
 */
public interface ${table.entityClass}Repository {
    /**
     * 创建${table.tableComment}
     * @param ${table.entityName}Entity
     */
    void create(${table.entityClass}Entity ${table.entityName}Entity);

    /**
     * 更新${table.tableComment}
     * @param ${table.entityName}Entity
     */
    void update(${table.entityClass}Entity ${table.entityName}Entity);

    /**
     * 查询详情
     * @param id
     * @return
     */
    ${table.entityClass}VO getById(Long id);

    /**
     * 查询
     * @param ${table.entityName}Query
     * @return
     */
    List<${table.entityClass}VO> query(${table.entityClass}RepositoryQuery ${table.entityName}Query);

    /**
     * 分页查询
     * @param ${table.entityName}Query
     * @return
     */
    PageVO<${table.entityClass}VO> pageQuery(${table.entityClass}RepositoryQuery ${table.entityName}Query);
}
