package ${config.basePackage}.domain.factory;

import com.changjinglu.domain.${table.entityClass}Factory;
import ${config.basePackage}.domain.entity.${table.entityClass}Entity;
import ${config.basePackage}.domain.value.${table.entityClass}BuildVO;
import com.changjinglu.common.bean.BeanUtil;
import org.springframework.stereotype.Component;

/**
 * <p>
 * ${table.tableComment}
 * </p>
 * @author ${config.author}
 * @since ${config.dateStr}
 */
@Component
public class ${table.entityClass}Factory implements ${table.entityClass}Factory<${table.entityClass}BuildVO, ${table.entityClass}Entity> {

    public ${table.entityClass}Entity buildWithId(Long id) {
        ${table.entityClass}Entity entity = this.perfect(new ${table.entityClass}BuildVO());

        entity.setId(id);

        return entity;
    }

    @Override
    public ${table.entityClass}Entity perfect(${table.entityClass}BuildVO buildVO) {
        ${table.entityClass}Entity entity = ${table.entityClass}Factory.get(${table.entityClass}Entity.class);

        // 设置属性
        BeanUtil.doTransfer(buildVO, entity);

        return entity;
    }

}
