package ${config.basePackage}.param#if("$!{config.moduleName}"!="").${config.moduleName}#end;

import com.changjinglu.api.common.request.BaseRequest;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.experimental.Accessors;

import javax.validation.constraints.NotNull;

/**
 * <p> ${table.entityClass}IDParam </p>
 * <p> ${table.tableComment}详情参数 </p>
 * @author ${config.author}
 * @since ${config.dateStr}
 */
@Data
@Accessors(chain = true)
@ApiModel(value = "${table.tableComment}ID参数", parent = BaseRequest.class)
public class ${table.entityClass}IDParam extends BaseRequest {

    private static final long serialVersionUID = ${serialVersionUID}L;
    /**
     * ID
     */
    @NotNull(message = "ID不能为空")
    @ApiModelProperty(value = "ID", required = true)
    private Long id;
}
