package ${config.basePackage}.param#if("$!{config.moduleName}"!="").${config.moduleName}#end;

import com.changjinglu.api.common.request.BaseRequest;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.experimental.Accessors;

import java.io.Serializable;
import java.util.Date;
import java.util.List;

/**
 * <p> ${table.entityClass}QueryParam </p>
 * <p> ${table.tableComment}${table.tableComment}查询参数 </p>
 * @author ${config.author}
 * @since ${config.dateStr}
 */
@Data
@Accessors(chain = true)
@ApiModel(value = "${table.tableComment}查询参数", parent = BaseRequest.class)
public class ${table.entityClass}QueryParam extends BaseRequest implements Serializable {

    private static final long serialVersionUID = ${serialVersionUID}L;
    /**
     * ${table.tableComment}ID
     */
    @ApiModelProperty("ID")
    private Long id;

}
