package ${config.basePackage}.api#if("$!{config.moduleName}"!="").${config.moduleName}#end;

import com.changjinglu.api.common.response.BaseResult;
import com.changjinglu.api.common.response.PaginatorResult;
import com.changjinglu.api.common.response.PlainResult;
import ${config.basePackage}.param#if("$!{config.moduleName}"!="").${config.moduleName}#end.*;
import ${config.basePackage}.result#if("$!{config.moduleName}"!="").${config.moduleName}#end.${table.entityClass}DTO;

/**
 * <p>
 * ${table.tableComment} API接口
 * </p>
 * @author ${config.author}
 * @since ${config.dateStr}
 */
public interface ${table.entityClass}ControllerApi {

    /**
     * ${table.tableComment}创建
     * @param param
     * @return
     * @throws RuntimeException
     */
    PlainResult<${table.entityClass}DTO> create(${table.entityClass}CreateParam param) throws RuntimeException;

    /**
     * ${table.tableComment}修改
     * @param param
     * @return
     * @throws RuntimeException
     */
    PlainResult<${table.entityClass}DTO> update(${table.entityClass}UpdateParam param) throws RuntimeException;

    /**
     * ${table.tableComment}详情查询
     * @param param
     * @return
     * @throws RuntimeException
     */
    PlainResult<${table.entityClass}DTO> detail(${table.entityClass}DetailParam param) throws RuntimeException;

    /**
     * 综合查询${table.tableComment}列表
     * @param param
     * @return
     * @throws RuntimeException
     */
    ListResult<${table.entityClass}DTO> query(${table.entityClass}QueryParam param) throws RuntimeException;

    /**
     * ${table.tableComment}分页查询
     * @param param
     * @return
     * @throws RuntimeException
     */
    PaginatorResult<${table.entityClass}DTO> pageQuery(${table.entityClass}PageQueryParam param) throws RuntimeException;
}
