package ${config.basePackage}.service#if("$!{config.moduleName}"!="").${config.moduleName}#end.impl;

import ${config.basePackage}.domain.entity.${table.entityClass}Entity;
import ${config.basePackage}.domain.factory.${table.entityClass}Factory;
import ${config.basePackage}.interfaces.query.${table.entityClass}RepositoryQuery;
import ${config.basePackage}.interfaces.repository.${table.entityClass}Repository;
import ${config.basePackage}.interfaces.vo.${table.entityClass}VO;
import ${config.basePackage}.interfaces.vo.PageVO;
import ${config.basePackage}.service.api.${table.entityClass}Service;
import org.springframework.stereotype.Component;
import javax.annotation.Resource;

/**
 * ${table.tableComment}服务实现
 * @author ${config.author}
 * @since ${config.dateStr}
 */
@Component
public class ${table.entityClass}ServiceImpl implements ${table.entityClass}Service {
    @Resource
    private ${table.entityClass}Factory ${table.entityName}Factory;
    @Resource
    private ${table.entityClass}Repository ${table.entityName}Repository;

    @Override
    public void create(${table.entityClass}Entity ${table.entityName}Entity) {
        ${table.entityName}Entity.create();
    }

    @Override
    public void update(${table.entityClass}Entity ${table.entityName}Entity) {
        ${table.entityName}Entity.update();
    }

    @Override
    public ${table.entityClass}VO getById(Long id) {
        return ${table.entityName}Repository.getById(id);
    }


    @Override
    public PageVO<${table.entityClass}VO> pageQuery(${table.entityClass}RepositoryQuery ${table.entityName}Query) {
        return ${table.entityName}Repository.pageQuery(${table.entityName}Query);
    }

}
