package ${config.basePackage}.service.api;

import ${config.basePackage}.interfaces.vo.PageVO;
import ${config.basePackage}.domain.entity.${table.entityClass}Entity;
import ${config.basePackage}.interfaces.query.${table.entityClass}RepositoryQuery;
import ${config.basePackage}.interfaces.vo.${table.entityClass}VO;

/**
 * <p> ${table.entityClass}Service </p>
 * <p> ${table.tableComment}服务接口 </p>
 *
 * @author ${config.author}
 * @since ${config.dateStr}
 */
public interface ${table.entityClass}Service {
    /**
     * 创建
     * @param ${table.entityName}Entity
     */
    void create(${table.entityClass}Entity ${table.entityName}Entity);
    /**
     * 修改
     * @param ${table.entityName}Entity
     */
    void update(${table.entityClass}Entity ${table.entityName}Entity);
    /**
     * 根据ID查询
     * @param id
     * @return
     */
    ${table.entityClass}VO getById(Long id);

    /**
     * 分页查询
     * @param ${table.entityName}Query
     * @return
     */
    PageVO<${table.entityClass}VO> pageQuery(${table.entityClass}RepositoryQuery ${table.entityName}Query);
}
