package ${config.basePackage}#if("$!{config.moduleName}"!="").${config.moduleName}#end.manager;

import com.changjinglu.common.mybatis.ICommonManager;
import ${config.basePackage}#if("$!{config.moduleName}"!="").${config.moduleName}#end.domain.${table.entityClass}DO;
import ${config.basePackage}#if("$!{config.moduleName}"!="").${config.moduleName}#end.query.${table.entityClass}Query;

/**
 * <p>
 * ${table.tableComment} 仓储DB管理接口
 * </p>
 * @author ${config.author}
 * @since ${config.dateStr}
 */
public interface I${table.entityClass}Manager extends ICommonManager<${table.entityClass}DO, ${table.entityClass}Query> {

}
