package ${config.basePackage}#if("$!{config.moduleName}"!="").${config.moduleName}#end.manager.impl;

import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import ${config.basePackage}#if("$!{config.moduleName}"!="").${config.moduleName}#end.domain.${table.entityClass}DO;
import ${config.basePackage}#if("$!{config.moduleName}"!="").${config.moduleName}#end.manager.I${table.entityClass}Manager;
import ${config.basePackage}#if("$!{config.moduleName}"!="").${config.moduleName}#end.mapper.${table.entityClass}Mapper;
import org.springframework.stereotype.Service;

/**
 * <p>
 * ${table.tableComment} 仓储DB管理实现
 * </p>
 * @author ${config.author}
 * @since ${config.dateStr}
 */
@Service
public class ${table.entityClass}ManagerImpl extends ServiceImpl<${table.entityClass}Mapper, ${table.entityClass}DO> implements I${table.entityClass}Manager {

}
