package ${config.basePackage}#if("$!{config.moduleName}"!="").${config.moduleName}#end.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import ${config.basePackage}#if("$!{config.moduleName}"!="").${config.moduleName}#end.domain.${table.entityClass}DO;

/**
 * <p>
 * ${table.tableComment} Mapper 接口
 * </p>
 *
 * @author ${config.author}
 * @since ${config.dateStr}
 */
public interface ${table.entityClass}Mapper extends BaseMapper<${table.entityClass}DO> {

}
